<div class="login-area">
  <div class="container" id="container">
    <!-- ÜYE GİRİŞİ -->
    <div class="form-container sign-in-container">
      <form action="#">
        <h1 class="mb-2">Sign in</h1>
        <input type="email" [(ngModel)]="loginRequest.email" [ngModelOptions]="{standalone: true}"
          placeholder="Email" />
        <input type="password" [(ngModel)]="loginRequest.password" [ngModelOptions]="{standalone: true}"
          placeholder="Password" />
        <button (click)="login()" class="mt-2">login</button>
      </form>
    </div>
    <!-- LOGIN - REGISTER SELECET SECTION -->
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost mt-2" (click)="register()">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
