<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="login-section">
        <!-- Login Form -->
        <form>
          <h2 class="mt-2">Welcome</h2>
          <input [(ngModel)]="loginRequest.email" [ngModelOptions]="{standalone: true}" type="text"
            class="inputTxt mt-3" placeholder="Email">
          <input [(ngModel)]="loginRequest.password" [ngModelOptions]="{standalone: true}" type="password"
            class="inputTxt mt-3" placeholder="Password">
          <button class="mt-3 mb-3" (click)="login()">LOGIN</button>
          <a routerLink="/register">New account</a>
        </form>
      </div>
    </div>
  </div>
</div>
