<app-navbar></app-navbar>
<p-toast></p-toast>
<div class="container">
  <div class="col-md-12">
    <div class="header">
      <h1>Populer posts</h1>
    </div>
    <div class="post mt-5 mb-5" *ngFor="let post of posts">
      <div class="post-background">
        <img src="../../assets/images/broccoli.png">
      </div>
      <div class="posted-user mt-2">
        <h6><span>posted by</span><a routerLink="/"> {{post.user.name}}</a></h6>

        <!-- CATEGORY DETAIL -->
        <a routerLink="/">{{post.category.category_name}}</a>


      </div>
      <div class="post-header mt-2">
        <h2>{{post.post_header}}</h2>
      </div>
      <div class="post-detail mt-2">
        <p>{{post.post_detail}}</p>
      </div>
      <div class="favorite mt-2 mb-3" *ngIf="currentUser">
        <!-- POSTLAR İÇİN LIKE SAYACI EKLENECEK (BACKEND -> ENTITY) -->
        <button class="like">Like</button>
        <!-- FAVORITE İŞLEMİNDEN SONRA BUTONDA DEĞİŞİKLİK OLSUN (FAVORİTED) -->
        <!-- FAVORİLERE EKLENEN POSTLARDA SADECE LIKE BUTONU OLABİLİR -->
        <button class="fav" (click)="favorite(post.id,FavoritesPostRequest)">Favorite</button>
      </div>
    </div>
  </div>
</div>

<app-footbar></app-footbar>
